<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['']" routerLinkActive="router-link-active">Trang chủ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/phongban']" routerLinkActive="router-link-active active" >Phòng ban</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/chucvu']" routerLinkActive="router-link-active active" >Chức vụ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/nhanvien']" routerLinkActive="router-link-active active" >Nhân viên</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn==false">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active active" >Đăng nhập</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn==true" slot="end">
          <a class="nav-link" (click)="logout()">Đăng xuất</a>
        </li>
      </ul>
    </div>
  </div>
</nav>