<body>
    <div class="container py-5">
        <div class="row justify-content-center">
            <h1 class="text-white text-center">
                HỆ THỐNG QUẢN LÝ NHÂN SỰ
            </h1>
        </div>
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Đăng nhập</h5>
                            {{message}}
                            <div>
                                <label>Tên đăng nhập</label>
                            </div>
                            <div class="form-label-group">
                                <input type="text" class="form-control" [(ngModel)]="UserLogin.username">
                            </div>
                            <div>
                                <label>Mật khẩu</label>
                            </div>
                            <div class="form-label-group">
                                <input type="password" class="form-control" [(ngModel)]="UserLogin.password">
                            </div>
                       
                        <button type="button" class="btn btn-lg btn-primary btn-block text-uppercase" (click)="login()">Đăng nhập</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>