<div class="container">
    <div class="row">
        <div class="col-12">
            <a [routerLink]="['/chucvu-add']" routerLinkActive="router-link-active"
                class="btn btn-primary mt-4 mb-2" >
                Thêm mới
            </a>

            <table class="table table-bordered text-center">
                <tr>
                   <th>Id</th> 
                   <th>Chức vụ</th>
                   <th>Chức năng</th>
                </tr>
                <tr *ngIf="total === 0">
                   <td colspan="3">
                       Chưa có dữ liệu
                   </td> 
                </tr>
                <tr *ngFor="let item of danhsachchucvu">
                    <td>{{item.id}}</td>
                    <td>{{item.tenChucVu}}</td>
                    <td>
                        <a class="btn btn-warning col-lg-3 mx-2" (click)="goToEdit('chucvu-edit', item.id)">
                            Chỉnh sửa
                        </a>
                        <a class="btn btn-danger col-lg-3 mx-2" (click)="deleteItem(item.id)">
                            Xóa
                        </a>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>