<div class="container py-5">
    <div class="row">
        <div class="col-12">
            
            <form [formGroup]="CurrentChucVu.formGroup" (ngSubmit)="submitData()">
                <div class="form-group">
                  <label for="">Tên chức vụ</label>
                  
                  <input type="text" name="" id="" class="form-control" aria-describedby="helpId"
                        [(ngModel)]="CurrentChucVu.tenChucVu"
                        formControlName="tenChucVu">
                  <small id="helpId" class="text-muted"
                    [hidden]="!(CurrentChucVu.formGroup.controls['tenChucVu'].hasError('required'))"
                    >
                      Tên chức vụ không được để trống
                  </small>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!(CurrentChucVu.formGroup.valid)">
                    Lưu
                </button>
            </form>

        </div>
    </div>
</div>